.cardContent{
    display: flex;
    flex-direction: column;
    align-items: left;
}


.textContent{
    background-color: #2f343a;
    color: white;
    border: 2px solid #c8a35f;
    div{
        margin: 10px  5px;
    }
}

.textField{
    color:white; 
    background-color: #2f343a;
    border: 1px solid #c8a35f ;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.textAutosize{
    background-color: #2f343a;
    color: white;
    outline: none;
    border: 1px solid #c8a35f;
    padding: 5px 10px;
    width: 50%;
    padding: 10px;
}

.buttonText{
    font-size: 25px;
    background-color: #2f343a;
    color: #c8a35f;
    width: 120px;
    height: 60px;
    margin-top: 20px ;
    border: 2px solid #c8a35f;
    border-radius: 10px;
}

.buttonText:hover{
    background-color: #c8a35f;
    color: white;
    cursor: pointer;
}