.background {
    padding: 100px 0;
    background-color: #2f343a;
    color: white;
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}

.text button{
    width: 200px;
    height: 50px;
    background-color: #2f343a;
    color: #c8a35f;
    border: 2px  solid #c8a35f;
}

.text button:hover{
    background-color: #c8a35f;
    color: white;
    cursor: pointer;
}