.backgroung{
    color: white;
    background-color: #2f343a;
}
.h2{
    margin: 0px 0px 40px 0;
    text-align: center;
}
.thirdMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}