.contact-menu{
    color: white;
    border: 2px solid #c8a35f;
    border-radius: 10px;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 50px;
    .contact-img{
        text-align: center;
        img{
        border: 2px solid#c8a35f;
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }  
    }
    .contact-text{
        width: 100%;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        width: 400px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0px;
        li{
            margin-bottom: 50px;
        }
    }
   
}
