.imgmap {
    img {
        width: 1903px;
        height: 467px;
    }
    background-color: #c8a35f;
}


    .imgMap {
        width: 100%;
        img {
            width: 100%;
            height: 325px;
        }
        background-color: #c8a35f;
    }

